body {
	margin: 0;
	padding: 0;
	background-color: green; /* 設定整個頁面的背景為綠色 */
  }
  .container-first {
	  display: flex;
	  flex-flow: column-reverse wrap;
	  align-content: flex-start;
	  width: auto;
	  height: 300px;
	  padding: 0px 0px 0px 20px;
	  background-color: green;
	  border-top: 2px  white;
  }

  .red-item, .black-item, .zero-item {
  box-sizing: border-box;
  border: none;
  border-left: 3px solid white;
  border-top: 3px solid white;
	  padding-top: 25px;
	  padding-bottom: 25px;
	  text-align: center;
	  width: 50px;
	  font-size: 30px;
	  color: white;
  }
  .zero-item {
	  background-color: green;
  border-bottom: 3px solid white;
	  padding-top: 110px;
	  padding-bottom: 111px;
  }
  .red-item {
	  background-color: red;
  }

  .black-item {
	  background-color: black;
  }

  .value {
		transform: rotate(-90deg);
	}

  .column-item {
	  border: solid white;
	  background-color: green;
	  padding-top: 25px;
	  padding-bottom: 25px;
	  text-align: center;
	  width: 50px;
	  font-size: 30px;
	  color: white;
  }

  .container-second {
	  display: flex;
	  background-color: green;
	  width: auto;
	  height: 70px;
	  flex-flow: row wrap;
	  align-content: flex-start;
	  padding: 0px 0px 0px 72px;

  }

  .doz-item {
	  flex-basis: 220px;
	  border: solid white;
	  background-color: green;
	  padding-top: 15px;
	  padding-bottom: 30px;
	  text-align: center;
	  height: 20px;
	  font-size: 30px;
	  color: white;
  }

  .container-third {
	  display: flex;
	  background-color: green;
	  width: auto;
	  height: 150px;
	  flex-flow: row wrap;
	  align-content: flex-start;
	  padding: 0px 0px 0px 72px;
  }

  .outside-section {
	  flex-basis: 107px;
	  border: solid white;
	  /*background-color: green;*/
	  padding-top: 15px;
	  padding-bottom: 30px;
	  text-align: center;
	  height: 20px;
	  font-size: 30px;
	  color: white;
  }

  .rhomb-red {
	  display: inline-block;
	  width: 30px;
	  height: 30px;
	  background-color: red;
	  border: solid white;
	  transform: rotate(45deg);
  }

  .rhomb-black {
	  display: inline-block;
	  width: 30px;
	  height: 30px;
	  background-color: black;
	  border: solid white;
	  transform: rotate(45deg);
  }

  .Butt{
	  padding: 15px 30px; /* 設置按鈕的內邊距以增加大小 */
	  background-color: orange; /* 設置按鈕的背景顏色為橘色 */
	  color: white; /* 設置文字顏色為白色 */
	  border: none; /* 移除按鈕的邊框 */
	  cursor: pointer; /* 添加指針游標以顯示可點擊 */
	  transition: background-color 0.3s, color 0.3s; /* 添加過渡效果 */
	  
  }

 

  .red-item:hover,
  .black-item:hover,
  .zero-item:hover,
  .column-item:hover,
  .doz-item:hover,
  .outside-section:hover 
  {
  background-color: white;
  color: black;
  }
  .clicked {
		  background-color: white !important;
		  color: black !important;
	  }

  .Butt:hover {
  background-color: white; /* 滑鼠移到上面時背景顏色變成白色 */
  color: gray; /* 滑鼠移到上面時文字顏色變成淺灰色 */
  }

  .Butt:active {
	  background-color: lightgray; /* 按下時背景顏色變成淺灰色 */
  }


  #spin {
	  padding: 15px 30px; /* 設置按鈕的內邊距以增加大小 */
	  background-color: orange; /* 設置按鈕的背景顏色為橘色 */
	  color: white; /* 設置文字顏色為白色 */
	  border: none; /* 移除按鈕的邊框 */
	  cursor: pointer; /* 添加指針游標以顯示可點擊 */
	  transition: background-color 0.3s, color 0.3s; /* 添加過渡效果 */
  }

  #spin:hover {
	  background-color: white; /* 滑鼠移到上面時背景顏色變成白色 */
	  color: gray; /* 滑鼠移到上面時文字顏色變成淺灰色 */
  }

  #spin:active {
	  background-color: lightgray; /* 按下時背景顏色變成淺灰色 */
  }
